[Oo]bj
[Bb]in
packages
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
.vs
.idea
[Tt]humbs.db 
Build/Kontur*/
_ReSharper.*
/Source/Kontur.BigLibrary.Service/logs/
/Build/Kontur.BigLibrary.Service/
/Source/Kontur.BigLibrary.Service/security/
/node_modules
